<h2>My Tasks</h2>

<div>
  <label>Task title:
    <input #heroTitle />
  </label>
  <br>
  <label>Task desc:
    <input #heroDescription />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroTitle.value,heroDescription.value); heroTitle.value=''; heroDescription.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>
      <span class="title">{{hero.title}}</span>
      {{hero.description}}
    </a>
    <button class="delete" title="delete" (click)="delete(hero)">x</button>
    <button class="mark" title="mark" (click)="mark(hero)">✔</button>
  </li>
</ul>